<% //</* Gurman Singh 301183986 COMP229*/> %> 
<%- include ('templates/header.ejs'); %>

<%- include ('templates/main_nav.ejs'); %> 
  

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  
   
  </div>

  <%- include ('templates/home.ejs'); %> 
  
  <%- include ('templates/about.ejs'); %> 
  
  <%- include ('templates/projects.ejs'); %> 
  
  <%- include ('templates/services.ejs'); %> 

  <%- include ('templates/contact.ejs'); %> 
  
 
</main>

<%- include ('templates/bottom_nav.ejs'); %>

<%- include ('templates/footer.ejs'); %> 



  












